<%- include("partials/header"); -%>

<div class="project">
  <h1><%=projectName%></h1><br>
  <div class="madeBy">
    <h4>Done by: </h4>
    <p><b>Name: </b><%=fullName%></p>
    <p><b>Phone no.: </b><%=phoneNo%></p>
    <p><b>Email: </b><%=emailId%></p>
  </div>
</div>

<h4>Project Description:</h4>
<p><%=projectDescrip%></p>

<%- include("partials/footer"); -%>
